
.product-line {
    font-size: 16px;
}

.product-line .badge-danger {
    opacity: 0;
    transition: opacity 0.1s ease-out;
}

.product-line:hover .badge-danger {
    opacity: 1;
}

.warning-text {
    color: #f4b042;
    font-size: 12px;
}